<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/img/favicon.ico">
</head>

<body class="bg-dark">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <img style="margin-right:3%; width:4%; height:4%";  src="~/img/logo.png"/>
                <a class="navbar-brand underscores custom-font" style="font-size:1.3em;" asp-area="" asp-controller="Home" asp-action="Index">Main</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item navli">
                            <a class="nav-link text-light underscores custom-font" asp-area="" asp-controller="Films" asp-action="Index">Film catalog</a>
                        </li>

                        <li class="nav-item navli">
                            <a class="nav-link text-light underscores custom-font" asp-area="" asp-controller="Home" asp-action="Privacy">About</a>
                        </li>

                        <li class="nav-item navli">
                            <a class="nav-link text-light underscores custom-font" asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a>
                        </li>
                       
                        @if (User.Identity.IsAuthenticated && User.Identity.Name == "Admin_IvanMarchenko@gmail.com")
                        {
                            <li class="nav-item dropdown" style="margin-top: 10px;">
                                <a href="#" class="nav-link dropdown-toggle custom-font" id="navbarNavDarkDropdown" data-bs-toggle="dropdown" area-expanded="false">
                                    Administrator
                                </a>

                                <ul class="dropdown-menu bg-dark" area-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item text-light bg-dark" asp-controller="Films" asp-action="Index">Films</a></li>
                                    <li><a class="dropdown-item text-light bg-dark" asp-controller="Janres" asp-action="Index">Genres</a></li>
                                    <li><a class="dropdown-item text-light bg-dark" asp-controller="Countries" asp-action="Index">Country</a></li>
                                    <li><a class="dropdown-item text-light bg-dark" asp-controller="Producers" asp-action="Index">Directors</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>


    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*@if(@ViewData["Title"].ToString() != "Film catalog" 
    && @ViewData["Title"].ToString() != "Main")
    {
        <div style="margin:auto;">
            <main role="main" class="pb-3 bg-secondary">
              @RenderBody()
            </main>
        </div>
    }
    else {
        <div style="margin:auto;">
            <main role="main" class="pb-3">
              @RenderBody()
            </main>
        </div>
    }*@


    @if (@ViewData["Title"].ToString() != "Main")
    {
        <footer class="footer bg-dark">
            <div class="container bg-dark" style="color:white">
                &copy; 2021 - Movie Review - <a asp-area="" asp-controller="Home" asp-action="Privacy">About</a>
            </div>
        </footer>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/filter.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
