@model IEnumerable<Movie_Review.Models.Film>

@{
    ViewData["Title"] = "Каталог фильмов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (User.Identity.Name == "Admin_IvanMarchenko@gmail.com")
{
    <div style="width:90%; margin:auto; margin-top:20px">


        <h1>Список фильмов</h1>

        <p>
            <a asp-action="Create">Добавить новый</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Название фильма
                    </th>
                    <th>
                        Описание
                    </th>
                    <th>
                        Фото
                    </th>
                    <th>
                        Рейтинг
                    </th>
                    <th>
                        Режисер
                    </th>
                    <th>
                        Страна
                    </th>
                    <th>
                        Жанр
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FimlTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MovieDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PathToPhoto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producer.ProducerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country.CountryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Janre.JanreName)
                        </td>
                        <td>
                            <a style="text-decoration: none; color:blue;" class="underscores" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a style="text-decoration: none; color:blue;" class="underscores" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a style="text-decoration: none; color:blue;" class="underscores" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
} else
{

    <div style="width:90%; margin:auto; margin-top:20px" class="row">
       
        @foreach(var film in Model)
        {
            @**@
            <div class="card mb-4 shadow p-3 mb-5 bg-body rounded col-md-6" style="max-width: 650px; margin:auto;">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img style="height:max-content; width:max-content;" src="/img/Films/@film.PathToPhoto" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title">@film.FimlTitle</h5>
                            <hr />
                            <p class="card-text">@film.MovieDescription</p>
                            <hr />
                            <p>Жанр: @film.Janre.JanreName</p>
                            <hr />
                            <p class="card-text"><small class="text-muted">Этот фильм понравился @film.Rate % пользователей</small></p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}